# Auto detect text files and perform LF normalization
* text=auto
* text eol=lf

*.cs diff=csharp

#
# The above will handle all files NOT found below.
#

# Visual Studio
*.sln         text eol=crlf
*.csproj      text eol=crlf

# Web
*.css         text
*.htm         text diff=html
*.html        text diff=html
*.js          text
*.json        text
*.xml         text
*.xhtml       text diff=html

# Documentation
*.md          text
*.txt         text
AUTHORS       text
CHANGELOG     text
CHANGES       text
CONTRIBUTING  text
COPYING       text
COPYRIGHT     text
*COPYRIGHT*   text
INSTALL       text
LICENSE       text
NEWS          text
README        text
*README*      text
TODO          text

# Configs
.gitattributes  text
.gitconfig      text
.gitignore      text

# Graphics
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.tif   binary
*.tiff  binary
*.ico   binary
*.svg   binary

# Fonts
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
